set ignorecase
set smartcase
set incsearch
set hlsearch
set clipboard=unnamed

" https://github.com/AlexPl292/IdeaVim-EasyMotion
set easymotion

nnoremap <C-l> :nohlsearch<CR>
nnoremap s <Plug>(easymotion-overwin-f2)
