# https://github.com/xremap/xremap
#
# This template is rendered by `./dotfiles setup_xremap`.
[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=@HOME@/tools/bin/xremap --watch=device @HOME@/dotfiles/xremap-config.yml

[Install]
WantedBy=default.target
