node_modules/
tmp/
.cache/

.config/*
!.config/prompts.predefined/
!.config/prompts.library/
!.config/prompts/
!.config/agents.predefined/
!.config/agents.library/
!.config/agents/

.agent/*
!.agent/config.json
!.agent/setup.sh
!.agent/sandbox/
!.agent/prompts/
